/* .Basicdata{
  background:url(../../../image/exhibition/mapanimate/Basicdata.png) top -10px center  no-repeat;
}
.Videosurveillance{
  background:url(../../../image/exhibition/mapanimate/Videosurveillance.png) top -10px center no-repeat;
}
.Patrolmanagement{
  background:url(../../../image/exhibition/mapanimate/Patrolmanagement.png) top -10px center no-repeat;
}
.Hiddendanger_disposal{
  background:url(../../../image/exhibition/mapanimate/Hiddendanger_disposal.png) top -10px center no-repeat;
}
.officeOa{
  background:url(../../../image/exhibition/mapanimate/officeOa.png) top -10px center no-repeat;
}
.training{
  background:url(../../../image/exhibition/mapanimate/training.png) top -10px center  no-repeat;
}
.Judgment_analysis{
  	background:url(../../../image/exhibition/mapanimate/Judgment_analysis.png) top -10px center  no-repeat;
}
.Videoconferencng{
  background:url(../../../image/exhibition/mapanimate/Videoconferencng.png) top -10px center no-repeat;
}
.MochaITOM{
  background:url(../../../image/exhibition/mapanimate/MochaITOM.png) top -10px center no-repeat;
}
.Basicdata:hover{
	background: url(../../../image/exhibition/mapanimate/Basicdata_hover.png) 0 -15px no-repeat;
}
.Videosurveillance:hover{
  background:url(../../../image/exhibition/mapanimate/Videosurveillance_hover.png) 0 -15px no-repeat;
}
.Patrolmanagement:hover{
  background:url(../../../image/exhibition/mapanimate/Patrolmanagement_hover.png) 0 -15px  no-repeat;
}
.Hiddendanger_disposal:hover{
  background:url(../../../image/exhibition/mapanimate/Hiddendanger_disposal_hover.png) 0 -15px  no-repeat;
}
.officeOa:hover{
  background:url(../../../image/exhibition/mapanimate/officeOa_hover.png) 0 -15px  no-repeat;
}
.training:hover{
  background:url(../../../image/exhibition/mapanimate/training_hover.png) 0 -15px  no-repeat;
}
.Judgment_analysis:hover{
  	background:url(../../../image/exhibition/mapanimate/Judgment_analysis_hover.png) 0 -15px  no-repeat;
}
.Videoconferencng:hover{
  background:url(../../../image/exhibition/mapanimate/Videoconferencng_hover.png) 0 -15px no-repeat;
}
.MochaITOM:hover{
  background:url(../../../image/exhibition/mapanimate/MochaITOM_hover.png) 0 -15px  no-repeat;
} */

