@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
.allMapLogin{
	width: 100%;
	height:100%;
    background:url(../../../image/exhibition/animite/ex_main_backgrounds.png) no-repeat;
  	background-size: 100% 100%;
  	position: fixed;
 	top:0;
 	bottom:0;
 	left:0;
 	right:0;
}
.swiper-container{
 	width: 100%;
	height:955px;
}
.arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index:10;
}
.arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index:10;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.swiper-slide{
	position:relative;
	opacity:0;
	transition: opacity 0.7s ease-in-out;
}
.swiper-slide-active{
	opacity:1;
}
.swiper-slide .img{
	position:absolute;
}
.inner{
	position:relative;
	display:block;
	width:1000px;
	height:500px;
	margin:0 auto;
}
.slide1{
}
.slide2{
	background-color: #1284d0;
}
.slide3{
	background-color: #43cfc8;
}
.slide1 .s1{
	width:1098px;
	height:200px;
	top: 200px;
	left: 0;right: 0;
	margin: auto;
	background:url(../../../image/exhibition/animite/1680/bgmap_header.png) no-repeat;
}
.slide1 .s2{
	width:826px;
	height:933px;
	top: 20px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -1;
	background:url(../../../image/exhibition/animite/1680/bgmap.png) no-repeat;
}
.slide1 .s3 ul li{cursor: pointer;}
.slide1 .s3{left: 0;bottom: 30%;z-index: 5;height:16%;left: 0;right: 0;width:80%;margin: auto;}
.slide1 .s3 ul li{width:108px;height:147px;margin:0 30px;float: left;list-style: none;}
.slide1 .s4{right: 0;bottom: 0px;z-index: 0;height: 160px}
.slide2 .zh-a-1{left: 60px;top: 77px;z-index: 9;}
.slide2 .zh-a-2{left: 0;top: 0;}
.slide3 .b-1 {right: 72px;top: 180px;}
.slide3 .b-2 {left: 90px;top: 180px;}
.slide3 .b-3 {left: 50%;margin-left: -381px;top: 330px;}
.slide3 .b-s-1 {width: 100px; left: 50px; bottom:0px;}
.slide3 .b-s-2 {left: 160px;width: 160px;bottom:0px;}
.slide3 .b-s-3{left: 390px;width: 58px;bottom:0px;}
.slide3 .b-s-4{right: 359px; width: 103px;bottom:0px;}
.slide3 .b-s-5{right: 250px;width: 150px;bottom:0px;}
.slide3 .b-s-6{right: 0;width: 65px;bottom:0px;}
.slide3 .b-y-1 {top:40px;left: 50%; margin-left: -20px;}
.slide3 .b-y-2{top:40px;left:0}
.slide3 .b-y-3{top:40px;right: 0}
.loop{
	animation-iteration-count: infinite;/*无限*/
	animation-timing-function:linear;/*平滑*/
}
.targetBtn {
    margin-top: 20px;
    position: absolute;
    bottom: 60px;
    left: 352px;
    z-index: 999;
}
.targetBtn a{
	height:50px;
	border-radius:50px;
	background:rgba(0,0,0,.5);
	float:left;
	line-height:50px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	}
.targetBtn .a1{
	width:110px;
	}
.targetBtn .a2{
	width:170px;
	margin-left:15px;
	}	
/*自定义CSS动画*/
.moveRight{-webkit-animation-name:moveRight;animation-name:moveRight}
@-webkit-keyframes moveRight{0%{opacity: 0;left:0px;}
10%{opacity: 1;}
100%{opacity: 1;left:550px;}}
@keyframes moveRight{0%{opacity: 0;left:0px;}
10%{opacity: 1;}
100%{opacity: 1;left:550px;}}

.moveLeft{-webkit-animation-name:moveLeft;animation-name:moveLeft}
@-webkit-keyframes moveLeft{0%{opacity:0;left:390px;}
10%{opacity:1;}
100%{opacity:1;left:-370px;}}
@keyframes moveLeft{0%{opacity:0;left:390px;}
10%{opacity:1;}
100%{opacity:1;left:-370px;}}




/* -------------------------------------------------------------------------------- */
@media (min-width:1024px){
	.swiper-container{height:643px;}
	.slide1 .s1{
		width: 672px;
	    height: 146px;
	    top: 130px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    background: url(../../../image/exhibition/animite/1024/bgmap_header.png) no-repeat;
	    background-size:100% 100%;
	}
	.slide1 .s2{  
		width: 505px;
	    height: 513px;
	    top: 70px;
	    left: 20px;
	    right: 0;
	    margin: auto;
	    z-index: -1;  
		background: url(../../../image/exhibition/animite/1024/bgmap.png) no-repeat;
	}
	.slide1 .s3 ul li{width:67px;height:91px;margin:0 12px;}
	.ex_main_from{width:590px !important;height:220px !important;}
	.Basicdata{
	  background:url(../../../image/exhibition/animite/1280/Basicdata.png);
	  background-size: 100% 100%;
	}
	.Basicdata:hover{
	  background:url(../../../image/exhibition/animite/1280/Basicdata_hover.png);
	  background-size: 100% 100%;
	}
	.Videosurveillance{
	   background:url(../../../image/exhibition/animite/1280/Videosurveillance.png);
	   background-size: 100% 100%;
	}
	.Patrolmanagement{
	   background:url(../../../image/exhibition/animite/1280/Patrolmanagement.png);
	   background-size: 100% 100%;
	}
	.Hiddendanger_disposal{
	   background:url(../../../image/exhibition/animite/1280/Hiddendanger_disposal.png);
	   background-size: 100% 100%;
	}
	.officeOa{
	   background:url(../../../image/exhibition/animite/1280/officeOa.png);
	   background-size: 100% 100%;
	}
	.training{
	   background:url(../../../image/exhibition/animite/1280/training.png);
	   background-size: 100% 100%;
	}
	.Judgment_analysis{
	   background:url(../../../image/exhibition/animite/1280/Judgment_analysis.png);
	   background-size: 100% 100%;
	}
	.Videoconferencng{
	  background:url(../../../image/exhibition/animite/1280/Videoconferencng.png);
	   background-size: 100% 100%;
	}
	.MochaITOM{
	   background:url(../../../image/exhibition/animite/1280/MochaITOM.png);
	   background-size: 100% 100%;
	}
}
@media (min-width:1280px){
	.swiper-container{height:899px;}
	.slide1 .s1{
		width: 839px;
	    height: 160px;
	    top: 220px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    background: url(../../../image/exhibition/animite/1280/bgmap_header.png) no-repeat;
	}
	.slide1 .s2{  
		width: 712px;
	    height: 723px;
	    top: 70px;
	    left: 20px;
	    right: 0;
	    margin: auto;
	    z-index: -1;  
		background: url(../../../image/exhibition/animite/1280/bgmap.png) no-repeat;
	}
	.slide1 .s3 ul li{width:84px;height:115px;margin:0 14px;}
	.ex_main_from{width:610px !important;height:250px !important;}
	.Basicdata{
	  background:url(../../../image/exhibition/animite/1280/Basicdata.png);
	  background-size: 100% 100%;
	}
	.Basicdata:hover{
	  background:url(../../../image/exhibition/animite/1280/Basicdata_hover.png);
	  background-size: 100% 100%;
	}
	.Videosurveillance{
	   background:url(../../../image/exhibition/animite/1280/Videosurveillance.png);
	   background-size: 100% 100%;
	}
	.Patrolmanagement{
	   background:url(../../../image/exhibition/animite/1280/Patrolmanagement.png);
	   background-size: 100% 100%;
	}
	.Hiddendanger_disposal{
	   background:url(../../../image/exhibition/animite/1280/Hiddendanger_disposal.png);
	   background-size: 100% 100%;
	}
	.officeOa{
	   background:url(../../../image/exhibition/animite/1280/officeOa.png);
	   background-size: 100% 100%;
	}
	.training{
	   background:url(../../../image/exhibition/animite/1280/training.png);
	   background-size: 100% 100%;
	}
	.Judgment_analysis{
	   background:url(../../../image/exhibition/animite/1280/Judgment_analysis.png);
	   background-size: 100% 100%;
	}
	.Videoconferencng{
	  background:url(../../../image/exhibition/animite/1280/Videoconferencng.png);
	   background-size: 100% 100%;
	}
	.MochaITOM{
	   background:url(../../../image/exhibition/animite/1280/MochaITOM.png);
	   background-size: 100% 100%;
	}
}
@media (min-width:1366px){
	.swiper-container{height:643px;}
	.slide1 .s1{
		width: 894px;
	    height: 170px;
	    top: 145px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    background: url(../../../image/exhibition/animite/1366/bgmap_header.png) no-repeat;
	}
	.slide1 .s2{  
		width: 566px;
	    height: 573px;
	    top: 40px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    z-index: -1;  
		background: url(../../../image/exhibition/animite/1366/bgmap.png) no-repeat;
	}
	.slide1 .s3 ul li{width:89px;height:122px;margin:0 15px;}
	.ex_main_from{width:600px !important;height:230px !important;}
	.Basicdata{
	  background:url(../../../image/exhibition/animite/1366/Basicdata.png);
	  background-size: 100% 100%;
	}
	.Basicdata:hover{
	  background:url(../../../image/exhibition/animite/1366/Basicdata_hover.png);
	  background-size: 100% 100%;
	}
	.Videosurveillance{
	   background:url(../../../image/exhibition/animite/1366/Videosurveillance.png);
	   background-size: 100% 100%;
	}
	.Patrolmanagement{
	   background:url(../../../image/exhibition/animite/1366/Patrolmanagement.png);
	   background-size: 100% 100%;
	}
	.Hiddendanger_disposal{
	   background:url(../../../image/exhibition/animite/1366/Hiddendanger_disposal.png);
	   background-size: 100% 100%;
	}
	.officeOa{
	   background:url(../../../image/exhibition/animite/1366/officeOa.png);
	   background-size: 100% 100%;
	}
	.training{
	   background:url(../../../image/exhibition/animite/1366/training.png);
	   background-size: 100% 100%;
	}
	.Judgment_analysis{
	   background:url(../../../image/exhibition/animite/1366/Judgment_analysis.png);
	   background-size: 100% 100%;
	}
	.Videoconferencng{
	   background:url(../../../image/exhibition/animite/1366/Videoconferencng.png);
	   background-size: 100% 100%;
	}
	.MochaITOM{
	   background:url(../../../image/exhibition/animite/1366/MochaITOM.png);
	   background-size: 100% 100%;
	}
	
}
@media (min-width:1440px){
	.swiper-container{height:775px;}
	.slide1 .s1{
		width: 942px;
	    height: 172px;
	    top: 160px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    background: url(../../../image/exhibition/animite/1440/bgmap_header.png) no-repeat;
	}
	.slide1 .s2{  
		width: 709px;
	    height: 800px;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	    z-index: -1;  
		background: url(../../../image/exhibition/animite/1440/bgmap.png) no-repeat;
	}
	.slide1 .s3 ul li{width:93px;height:127px;margin:0 17px;}
	.ex_main_from{width:700px !important;height:300px !important;}
	.Basicdata{
	  background:url(../../../image/exhibition/animite/1440/Basicdata.png);
	  background-size: 100% 100%;
	}
	.Basicdata:hover{
	  background:url(../../../image/exhibition/animite/1440/Basicdata_hover.png);
	  background-size: 100% 100%;
	}
	.Videosurveillance{
	   background:url(../../../image/exhibition/animite/1440/Videosurveillance.png);
	   background-size: 100% 100%;
	}
	.Patrolmanagement{
	   background:url(../../../image/exhibition/animite/1440/Patrolmanagement.png);
	   background-size: 100% 100%;
	}
	.Hiddendanger_disposal{
	   background:url(../../../image/exhibition/animite/1440/Hiddendanger_disposal.png);
	   background-size: 100% 100%;
	}
	.officeOa{
	   background:url(../../../image/exhibition/animite/1440/officeOa.png);
	   background-size: 100% 100%;
	}
	.training{
	   background:url(../../../image/exhibition/animite/1440/training.png);
	   background-size: 100% 100%;
	}
	.Judgment_analysis{
	   background:url(../../../image/exhibition/animite/1440/Judgment_analysis.png);
	   background-size: 100% 100%;
	}
	.Videoconferencng{
	   background:url(../../../image/exhibition/animite/1440/Videoconferencng.png);
	   background-size: 100% 100%;
	}
	.MochaITOM{
	   background:url(../../../image/exhibition/animite/1440/MochaITOM.png);
	   background-size: 100% 100%;
	}
}
@media (min-width:1680px){
	.swiper-container{height:925px;}
	.slide1 .s1 {
	    width: 1098px;
	    height: 200px;
	    top: 200px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    background: url(../../../image/exhibition/animite/1680/bgmap_header.png) no-repeat;
	}
	.slide1 .s2{  
		width: 826px;
	    height: 933px;
	    top: 20px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    z-index: -1;  
		background: url(../../../image/exhibition/animite/1680/bgmap.png) no-repeat;
	}
	.slide1 .s3 ul li{width:108px;height:147px;margin:0 20px;}
	.ex_main_from{width:700px !important;height:300px !important;}
	.Basicdata{
	  background:url(../../../image/exhibition/animite/1680/Basicdata.png);
	  background-size: 100% 100%;
	}
	.Basicdata:hover{
	  background:url(../../../image/exhibition/animite/1680/Basicdata_hover.png);
	  background-size: 100% 100%;
	}
	.Videosurveillance{
	   background:url(../../../image/exhibition/animite/1680/Videosurveillance.png);
	   background-size: 100% 100%;
	}
	.Patrolmanagement{
	   background:url(../../../image/exhibition/animite/1680/Patrolmanagement.png);
	   background-size: 100% 100%;
	}
	.Hiddendanger_disposal{
	   background:url(../../../image/exhibition/animite/1680/Hiddendanger_disposal.png);
	   background-size: 100% 100%;
	}
	.officeOa{
	   background:url(../../../image/exhibition/animite/1680/officeOa.png);
	   background-size: 100% 100%;
	}
	.training{
	   background:url(../../../image/exhibition/animite/1680/training.png);
	   background-size: 100% 100%;
	}
	.Judgment_analysis{
	   background:url(../../../image/exhibition/animite/1680/Judgment_analysis.png);
	   background-size: 100% 100%;
	}
	.Videoconferencng{
	   background:url(../../../image/exhibition/animite/1680/Videoconferencng.png);
	   background-size: 100% 100%;
	}
	.MochaITOM{
	   background:url(../../../image/exhibition/animite/1680/MochaITOM.png);
	   background-size: 100% 100%;
	}
}
@media (min-width:1920px){
	.swiper-container{height:955px;}
	.slide1 .s1 {
	    width: 1254px;
	    height: 230px;
	    top: 190px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    background: url(../../../image/exhibition/animite/bgmap_header.png) no-repeat;
	}
	.slide1 .s2{  
		width: 943px;
	    height: 958px;
	    top: 5px;
	    left: 0;
	    right: 0;
	    margin: auto;
	    z-index: -1;  
		background: url(../../../image/exhibition/animite/bgmap.png) no-repeat;
	}
	.slide1 .s3 ul li{width:123px;height:167px;margin:0 23px;}
	.ex_main_from{width:700px !important;height:300px !important;}
	.Basicdata{
	  background:url(../../../image/exhibition/animite/Basicdata.png);
	  background-size: 100% 100%;
	}
	.Basicdata:hover{
	  background:url(../../../image/exhibition/animite/Basicdata_hover.png);
	  background-size: 100% 100%;
	}
	.Videosurveillance{
	   background:url(../../../image/exhibition/animite/Videosurveillance.png);
	   background-size: 100% 100%;
	}
	.Patrolmanagement{
	   background:url(../../../image/exhibition/animite/Patrolmanagement.png);
	   background-size: 100% 100%;
	}
	.Hiddendanger_disposal{
	   background:url(../../../image/exhibition/animite/Hiddendanger_disposal.png);
	   background-size: 100% 100%;
	}
	.officeOa{
	   background:url(../../../image/exhibition/animite/officeOa.png);
	   background-size: 100% 100%;
	}
	.training{
	   background:url(../../../image/exhibition/animite/training.png);
	   background-size: 100% 100%;
	}
	.Judgment_analysis{
	   background:url(../../../image/exhibition/animite/Judgment_analysis.png);
	   background-size: 100% 100%;
	}
	.Videoconferencng{
	   background:url(../../../image/exhibition/animite/Videoconferencng.png);
	   background-size: 100% 100%;
	}
	.MochaITOM{
	   background:url(../../../image/exhibition/animite/MochaITOM.png);
	   background-size: 100% 100%;
	}
}