/* 即时通讯 */
.map_chat{
	width:850px;
	height:645px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgb(7,41,59);
	z-index:9999;
	margin:auto;
	display:none;
}
/* 左侧 ===========================================================*/
.map_chat_left{
	width:260px;
	height:100%;
	background:rgb(4,86,135);
	float:left;
	position: relative;
}
.map_chat_top{
	witdth:100%;
	height:60px;
	overflow:hidden;
	padding:15px;
}
.map_chat_top_left{
	width:60px;
	height:60px;
	background:url(../../image/houzi.jpg) no-repeat;
	background-size:100% 100%;
	float:left;
}
.map_chat_top_right{
	width:calc(100% - 60px);
	height:25px;
	line-height:25px;
	font-size:18px;
	font-family: monospace;
	float:left;
	margin:20px 0;
	color:#fff;
	text-indent:20px;
}
.map_chat_top_search{
	width:85%;
	height:30px;
	margin:0 auto;
	border: 1px solid rgb(0,185,246);	
	background:url(../../image/exhibition/chat/chat_search.png) left 5px top 7px no-repeat;
	float:left;
}
.map_chat_top_phone_add{
	width: 30px;
    height: 32px;
    float: left;
    cursor: pointer;
    background: url(../../image/exhibition/chat/chat_add.png) #fff center no-repeat;
}
.map_chat_top_search input{
	width:85%;
	height:100%;
	border:none;
	outline:none;
	background:none;
	color:#fff;
	float:right;
}
.map_chat_span{
	color:#fff;
	text-indent:5px;
	font-size:16px;
	font-family: monospace;
	display: inline-block;
}


.map_chat_left_header{
	width:100%;
	height:40px;
}
.map_chat_recond{
	background:url(../../image/exhibition/chat/chat_recond.svg) center no-repeat;
}
.map_chat_mail{
	background:url(../../image/exhibition/chat/chat_mail.png) center no-repeat;
}
.map_chat_left_header div{
	width:33.3%;
	height:100%;
	float:left;
	cursor: pointer;
	color:#fff;
	text-align:center;
	line-height:40px;
} 
.map_chat_search_user{
    width: 97%;
    height: 250px;
    background: rgb(7,41,59);
    overflow:auto;
    position: absolute;
    top: 122px;
    display:none;
    z-index:999;
}
.map_chat_left_bottom{
	width:100%;
	height:calc(100% - 162px);
	overflow:auto;
}
.map_chat_left_bottom_record{
	width: 100%;
    height: calc(100% - 162px);
    overflow: auto;
    display: block;
    position: absolute;
    bottom: 0;
}
.map_chat_right{
	width:calc(100% - 260px);
	height:100%;
	overflow:hidden;
	float:left;
	display:none;
	position: relative;
}
.map_chat_right_top{
	width:120px;
	height:200px;
	/* background:rgb(159,12,16); */
	position: absolute;
	top:50%;
	bottom:70%;
	left:0;
	right:0;
	margin:auto;
}
.map_chat_right_bottom{
	width:100%;
	height:40px;
	background:green;
	cursor: pointer;
	color:#fff;
	line-height:40px;
	text-align:center;
}
.map_chat_right_top_men{
	width:80px;
	height:80px;
	background:url(../../image/houzi.jpg) center no-repeat;
	background-size:100% 100%;
	margin:0 auto;
}
.map_chat_right_top_menText{
	width:100%;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:18px;
	font-family: monospace;
	text-align:center;
}
/* 群聊弹窗 */
.ex_map_chatMess{
	width:50%;
	height:60%;
	background:rgb(8,42,63);
	position: absolute;
	left:0;
	right:0;
	top:0;
	margin:auto;
	display:none;
	border:2px solid rgb(0,185,246);
}
.ex_map_chatMess_left{
	width:50%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.ex_map_chatMess_right{
	width:50%;
	height:100%;
	float:left;
}
.ex_map_chatMess_right_close{
	width:30px;
	height:30px;
	background:url(../../image/exhibition/main/closeBtn.png) no-repeat;
	float:right;
	background-size:100% 100%;
}

/* 发送消息 聊天框 */
.map_chat_sendMess{
	width:100%;
	height:100%;
	background:#fff;
	color:#000;
	display:none;
}
.map_chat_sendMess_header{
	width:100%;
	height:60px;
	line-height:60px;
	text-indent:20px;
	font-size:16px;
	font-family: monospace;
}
.map_chat_sendMess_center{
	width:100%;
	height:calc(100% - 210px);
	overflow:auto;
	border-bottom:2px solid #efefef;
	box-sizing: border-box;
	background:#efefef;
}
.map_chat_sendMess_center_text{
	width:100%;
	height:100%;
}
.map_chat_sendMess_bottom{
	width:100%;
	height:150px;
}
.map_chat_sendMess_bottom_header{
	width:100%;
	height:30px;
	border-bottom:1px solid #efefef;	
}
.map_chat_sendMess_bottom_header div{
	float:left;
	width:30px;
	height:30px;
	line-height:30px;
	cursor: pointer;
}
.map_chat_sendMess_bottom_center{
	width:100%;
	height:85px;
}
.map_chat_sendMess_bottom_center textarea{
	width:95%;
	height:75%;
	outline:none;
	border:none;
	color:#000;
	resize:none;
	padding:10px;
	font-size:14px;
}
.map_chat_sendMess_bottom_bottom{
	width:100%;
	height:30px;
}
.map_chat_sendMess_bottom_bottom div{
	width:65px;
	height:25px;
	background:#efefef;
	color:#000;
	float:right;
	text-align:center;
	line-height:25px;
	cursor: pointer;
	font-size:14px;
	margin:0 20px 0 0;
}
.map_chat_sendMess_bottom_bottom div:hover{
	background:rgb(18,150,17);
	color:#fff;
}
.ex_map_chatMess_left_top{
	width:100%;
	height:30px;
	margin:0 auto;
	background:url(../../image/exhibition/chat/chat_search.png) left 5px top 7px no-repeat;
	float:left;
	box-sizing:border-box;
}
.ex_map_chatMess_left_top input{
	width:85%;
	height:100%;
	border:none;
	float:right;
	outline:none;
	background:none;
	color:#fff;
}
.ex_map_chatMess_left_bottom{
	width:100%;
	height:calc(100% - 30px);
	color:#000;
	overflow:auto;
}
.ex_map_chatMess_right_top{
	width:100%;
	height:30px;
	box-sizing: border-box;
	color:#fff;
}
.ex_map_chatMess_right_top_left{
	width:85%;
	height:100%;
	float:left;
	line-height:30px;
}
.ex_map_chatMess_right_top_left span{
	display: inline-block;
	float:left;
}
.ex_map_chatMess_right_top_left_text{
	width:auto;
	color:#fff;
	float:left;
	color:#fff;
	line-height:30px;
}
.ex_map_chatMess_right_center{
	width:100%;
	height:calc(100% - 60px);
	color:#000;
	overflow:auto;
}
.ex_map_chatMess_right_bottom{
	width:100%;
	height:30px;
	box-sizing: border-box;
}
.map_chat_div{
	cursor:pointer;
	width: 90%;
	height: 30px;
    line-height: 30px;
    color: #fff;
    margin: 5px 0;
    background: url(../../image/exhibition/map/checkbox.png) right no-repeat;
   
}
.map_chat_div_hover{
	cursor:pointer;
	width: 90%;
	height: 30px;
    line-height: 30px;
    color: #fff;
    margin: 5px 0;
    background: url(../../image/exhibition/map/checkbox_hover.png) right no-repeat;
}
.rightDIV{
	width:95%;
	height:25px;
	line-height:25px;
	font-size:16px;
	position: relative;
	color:#fff;
	cursor: pointer;
}
.rightDivt{
	width:20px;
	height:20px;
	background:red;
	position: absolute;
	right:0;
	top:2px;
	background: url(../../image/exhibition/map/checkbox_hover.png) right no-repeat;
	cursor: pointer;
}
.ex_map_chatMess_right_bottom_btn{
	width:100px;
	height:30px;
	color:#fff;
	background:green;
	line-height:30px;
	text-align:center;
    cursor: not-allowed;
    float:right;
}
.ex_map_chatMess_right_bottom_btn_hover{
	width:100px;
	height:30px;
	color:#fff;
	background:green;
	line-height:30px;
	text-align:center;
	cursor: pointer;
	float:right;
}
#child{
	width:900px;
	height:500px;
	position: absolute;
	top:0;
	left:0;
	z-index:99999;
	background:red;

}
.broadcast{
	width:22px;height:22px;background:url(../../image/exhibition/map/svg/broadcast.gif) no-repeat;background-size:100% 100%;
}
.chat_phone{
	background:url(../../image/exhibition/chat/chat_phone.png) center no-repeat;
}
.chat_video_phone{
	background:url(../../image/exhibition/chat/chat_video_phone.png) center no-repeat;
}
.chat_file{
	margin:0 20px;
	background:url(../../image/exhibition/chat/chat_file.png) center no-repeat;
}
.chat_img{
	background: url(/sdrpoms/resources/image/exhibition/chat/chat_img.png) right no-repeat;
    width: 100%;
    height: 64px;
    float: right;
    cursor: pointer;
    margin: 5px 20px 0 0;
   }
.chat_video{
	z-index: 9999;
    position: absolute;
    width: 340px;
    height: 600px;
    left: 120px;
    display:none;
}
.ex_main_video_big{
	width: 100%;
	height: 100%;
	position: absolute;
	background: red;
	overflow: hidden;
}
.ex_main_video_seml{
	position: absolute;
	width: 40%;
	height:30%;
	top: 0;
	right: 0;
	background: yellow;
}
/* 视频选中 css */
.ex_main_video_big_hover{
	width: 100%;
	height: 100%;
	position: absolute;
	background: red;
	overflow: hidden;
}
.ex_main_video_seml_hover{
	position: absolute;
	width: 40%;
	height:30%;
	top: 0;
	right: 0;
	background: yellow;
	z-index:9999;
}
#M{width:100%;height:100%;object-fit:initial;}
#O{width:50%;height:50%;float:left;object-fit:initial;}
#iframeSH{
	display:none;
	width:400px;
	height:400px;
	position: absolute;
	background:red;
	top:0;
	left:0;
	z-index:99999;
}


/* 大屏轮播 */
.banner{margin:200px auto 0;width:100%;overflow:hidden;}
.large_box{margin-bottom:10px;width:100%;height:350px;overflow:hidden;position: relative;}
.large_box img{display:block;margin:80px auto;}
.small_box{width:100%;height:73px;overflow:hidden;}
.small_list{position:relative;float:left;width:480px;height:73px;overflow:hidden;}
.small_list ul{height:73px;overflow:hidden;}
.small_list ul li{position:relative;float:left;margin-right:10px;width:110px;}
.small_list ul li img{display:block;}
.small_list ul li .bun_bg{display:none;position:absolute;top:0;left:0;width:110px;height:73px;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;}
.small_list ul li.on .bun_bg{display:block;}
.btn3{display:block;width:20px;height:73px;background-color:#777;background-repeat:no-repeat;background-position:center center;cursor:pointer;}
.btn3:hover{background-color:#e7000e;}
.left_btn{float:left;margin-right:10px;background-image:url(../images/left_btn.png);display:block;}
.right_btn{float:right;background-image:url(../images/right_btn.png);display:block;}